[Desktop Entry]
Encoding=UTF-8
Name=Link to pic-article-03.jpg
Type=Link
URL=https://github.com/Florence-wangui/alx-frontend/blob/main/0x03-responsive_design/images/pic-article-03.jpg?raw=true
Icon=image-jpeg
